html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.todolist-page {
  margin: 5%;
}

.container {
  flex: 1 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 1rem 3.5rem 1rem 1rem;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
}
.close:hover {
  background-color: #f44336;
  color: white;
}

.user-data {
  padding-bottom: 2%;
  color: white;
  text-align: center;
}

.footer {
  flex-shrink: 0;
}

.user-data {
  margin-bottom: 0.7rem;
}

input {
  border-radius: 0;
  border: 1px solid black;
  width: 100%;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.enterBtn {
  padding: 0.8rem;
  width: 100%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.enterBtn:hover {
  background-color: #bbb;
}

.owner-link {
  color: white;
  text-decoration: none;
}
.owner-link:hover {
  color: #D3D3D3;
}

@media only screen and (min-width: 768px) {
  .todolist-page {
    margin: 15%;
  }
  .task-textbox {
    text-align: left;
    margin-bottom: 0;
  }
}
